<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr" xml:lang="fr">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Raccourcisseur</title>
  <link rel="stylesheet" href="/static/css/main.css" type="text/css" media="screen, tv, print" charset="UTF-8" />
</head>
<body>


  <% @if vues %>
  <span style="font-size:11px; font-weight: normal; position: absolute; right: 5px; top: 5px;">Vu <% @var vues %> fois</span> <% @endif %>

  <table>
    <tr>
<!--      <td>
	<h2 style="margin-right: 50px;">Raccourcisseur d'url pour images</h2>
	<form action="/dl" method="post">
	  Url <input type="text" name="URL" />
	  <input type="submit" value="Raccourcir" />
	</form>
      </td>-->
      <td>
	
	<h2 style="margin-left: 50px;">Upload d'image</h2> 
	<form action="/up" method="post" enctype="multipart/form-data" style="margin-left: 50px;">
	  Fichier <input type="file" name="URL" />
	  <input type="submit" value="Envoyer"/>
	</form>
      </td>
    </tr>
  </table>

  <div id="last" style="width: 220px; position: absolute; left: 0px; top: 0px; text-align: center; border-right: solid black 2px; border-bottom: solid black 2px;">
    <% @if images %>

    <h4>Dernières images</h4>
    <% @loop images %>

    <span style="width: 100px; vertical-align: middle; display: inline-block;" ><a href="http://i.zcraft.fr/img/<% @var num %>"><img src="http://i.zcraft.fr/mini_<% @var nom %>" style="max-width: 100px; max-height: 100px;"/></a></span>

    <% @endloop %>
<% @else %>

<% @if id %>
<a href="/img/<%= (- (parse-integer (getf env :id)) 1) %>"><</a>
<% @endif %>


<a href="http://i.zcraft.fr/" style="color: black;">Accueil</a>
<% @if id %>
<a href="/img/<%= (+ (parse-integer (getf env :id)) 1) %>">></a>
<% @endif %>


<% @endif %>
  </div>
<% @if lien %>



<h2><a href="/<% @var lien %>">http://i.zcraft.fr/<% @var lien %></a></h2>
<img src="/<% @var tn %>" />


<h3>Code forum miniature vignet avec lien taille réelle</h3>
<pre>[url=http://i.zcraft.fr/<% @var lien %>][img]http://i.zcraft.fr/<% @var tn %>[/img][/url]</pre>

<h3>Code forum image taille réelle</h3>
<pre>[img]http://i.zcraft.fr/<% @var lien %>[/img]</pre>

<h3>Code forum image miniature</h3>
<pre>[img]http://i.zcraft.fr/<% @var tn %>[/img]</pre>

<h3>Lien direct de l'image</h3>
<pre>http://i.zcraft.fr/<% @var lien %></pre>

<% @endif %>

</body>
</html>
