@font-face {
  font-family: 'izcraft';
  src: url('font/izcraft.eot?69218018');
  src: url('font/izcraft.eot?69218018#iefix') format('embedded-opentype'),
       url('font/izcraft.woff2?69218018') format('woff2'),
       url('font/izcraft.woff?69218018') format('woff'),
       url('font/izcraft.ttf?69218018') format('truetype'),
       url('font/izcraft.svg?69218018#izcraft') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    max-height: 500%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    color: #222;
    width: 100%;
    max-height: 500%;
    height: 100%;
    z-index: 0;
    text-align: center;
}

header {
    display: block;
    position: absolute;
    right: 0;
    font-size: 14px;
    order: 1;
    text-align: right;
}

header a {
    color: #2a640f;
    padding: .5em;
    display: inline-block;
    float: right;
}

#main-content {
    display: flex;
    flex-direction: column;
    border: solid 1px #2a640f;
    box-shadow: 0 0 15px rgba(0,0,0,.3), 3px 3px 3px rgba(0,0,0,.2);
    max-width: 100%;
    margin:auto;
    width: 800px;
    text-align: left;
    order: 2;
}

body.js.preload * {
    transition: none !important;
}

body#upload_page #main-content{
    min-height: 90%;
}

h1 {
    background: #3f9718;
    position: relative;
    color: white;
    padding: .6em 96px .5em 96px;
    font-size: 1.5em;
    text-align: center;
    letter-spacing: .05em;
}

#links_page h1 {
    margin-bottom: 5px;
}

h1 a {
    display: block;
    position: absolute;
    top: -24px;
    left: -24px;
    z-index: 142;
    transition: all .2s ease-in-out;
}

h1 img {
    display: block;
    position: relative;
    font-size: medium;
    height: 96px;
    width: auto;
    vertical-align: middle;
    padding: 12px;
    transition: all .2s ease-in-out;
}

h1 a:before {
    content: "";
    position: absolute;
    width: 96px;
    height: 96px;
    top: 8px;
    left: 8px;

    background: white;
    transform: rotate(-25deg);
    box-shadow: 0 0 5px rgba(0,0,0,.4);
    border: solid 1px rgba(63,151,24,0);
    transition: all .2s ease-in-out;
}

h1 a:hover:before {
    width: 108px;
    height: 108px;
    top: 2px;
    left: 2px;

    border-color: rgba(63,151,24,1);
}

h2 {
    font-size: 1.1em;
    color: #3f9718;
    margin: .6em 2em 0 2em;
}

.warning {
    text-align: center;
    align-self: center;
    padding: .25em 0;
    border: solid 1px #cb1313;
    box-shadow: 0 0 7px rgba(0,0,0,.2), 2px 2px 5px rgba(0,0,0,.2);
    color: #cb1313;
    border-radius: 5px;
    margin-bottom: 0;
}

.warning:before, .warning:after {
    font-family: monospace;
    content: "!";
    font-weight: bold;
    margin: -.25em 1em;
    font-size: 22px;
}

.linkblock {
    display: flex;
    border: solid 1px #3f9718;
    border-radius: 7px;
    margin: .5em;
    align-items: center;
    box-shadow: 0 0 5px rgba(0,0,0,.1) inset, 0 0 5px rgba(0,0,0,.1), 2px 2px 3px rgba(0,0,0,.1);
    min-height: 2em;
}

.linkblock p, .linkblock pre {
    display: block;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding: .5em .5em .5em 1em;
    font-size: 1rem;
    font-family: monospace;
    color: #222;
    cursor: cell;
}

.linkblock pre::-webkit-scrollbar {
    width: 10px;
    background: rgba(0, 0, 0, 0.1);
}

.linkblock pre::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
}

.linkblock a {
    color: #222;
    text-decoration: none;
}

.linkblock a:hover {
    text-decoration: underline;
}

.linkblock button {
    position: relative;
    font-family: 'izcraft', sans-serif;
    margin-left: auto;
    align-self: stretch;
    border: 0;
    font-size: 14px;
    padding: .5em;
    cursor: pointer;
    z-index: 40;
    transition: all .2s ease-in-out;
    border-left: solid 2px transparent;
    background: #3f9718;
    color: white;
    border-radius: 0 5px 5px 0;
}

.linkblock button:hover {
    border-color: #3f9718;
    background: white;
    color: #3f9718;
}

.linkblock button:active {
    outline: none;
}

.linkblock button:before {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    content: attr(data-tooltip);
    display: block;
    position: absolute;
    white-space: nowrap;
    top: -1em;
    opacity: 0;
    visibility: hidden;
    left: -1em;
    color: black;
    background-color: white;
    z-index: 100;
    border: solid 1px #3f9718;
    padding: .3em;
    border-radius: 7px;
    box-shadow: 0 0 5px rgba(0,0,0,.1), 3px 3px 3px rgba(0,0,0,.1);
    transition: all .3s ease-in-out;
}

.linkblock button.tooltip-visible:before {
    top: -2.5em;
    visibility: visible;
    opacity: 1;
}

.linkdelete {
    border-color: #cb1313;
    box-shadow: 0 0 5px rgba(0,0,0,.1) inset, 0 0 5px rgba(0,0,0,.1), 2px 2px 3px rgba(0,0,0,.1);
}

.linkdelete-title {
    color: #cb1313;
}

.linkblock.linkdelete button {
    background: #cb1313;
}

.linkblock.linkdelete button:hover {
    border-color: #cb1313;
    color: #cb1313;
    background-color: white;
}

.linkblock.linkdelete button:before {
    border-color: #cb1313;
}

form {
    display: flex;
    flex-direction: column;
    flex: 1;
}

form > * {
    display: block;
}

#file {
    display: flex;
    position: relative;
    margin: 1em;
    padding-bottom: 1em;
    flex: 2;
    align-items: center;
    justify-content: center;

    border: dashed 2px transparent;
    border-bottom: 2px #ccc solid;
    border-radius: 0;
    cursor: pointer;
    text-align: center;
}

body.dragging #file {
    border: dashed 2px #bbb;
    border-radius: 1%;

    box-shadow: 0 0 69px rgba(183, 183, 183, 0.4) inset;
}

#file #info_p {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#file #info_p ul {
    margin: 0 .5em;
    list-style-type: none;
    max-width: 90%;
}

#file #info_p ul li {
    width: 100%;
    color: #555;
}

#file #info_p ul li code {
    font-size: 1.2em;
}

#file #info_p ul li.invalid {
    font-weight: bold;
    color: red;
}

#file #info_p ul li:first-child {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #2a640f;
    font-size: 1.4em;
}

#file #info_p figure {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    width: 80%;
    height: 100%;
    min-height: 75px;
    flex: 1;
    margin: 15px;
    align-items: center;
    justify-content: space-around;
}

#file #info_p figure img {
    overflow: hidden;
    max-height: 100%;
    max-width: 100%;
    border: solid 1px #2a640f;
    border-radius: 11px;
    box-shadow: 0 0 15px rgba(0,0,0,.3), 3px 3px 3px rgba(0,0,0,.2);
    background: #2a640f;
}

#file #info_p img:not([src]) {
    display: none;
}

#file #info_p > p {
    left: 0;
    width: 100%;
    padding: .5em;

    font-size: .8em;
    color: #888;
}

#file #info_p > p em {
    font-style: normal;
}

#file #info_p.invalid > p em {
    font-weight: bold;
    color: #2a640f;
}

#file #select_p {
    font-size: 1.3em;
    color: #666;
}

#file #select_p em {
    display: block;
    font-weight: bold;
    font-style: normal;
    font-size: 1.5em;
    margin: .5em;
    color: #2a640f;
}

#file input[type="file"] {
    display: block;
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    opacity: 0;
    border-radius: 45px;
    cursor: pointer;
    z-index: 1000;
}

label .description {
    display: block;
    margin-left: 3.5em;
    font-size: .7em;
    color: #666;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    display: block;
    cursor: pointer;
    margin: .5em 3%;
}

input[type="checkbox"] + label:before {
    font-family: 'izcraft', sans-serif;
    text-align: center;
    display: inline-block;
    content: "✔";
    font-size: 24px;
    width: 1em;
    float: left;
    height: 1em;
    padding: .1em .1em .15em;
    border: solid 1px #2a640f;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2) inset, 0 0 3px rgba(0,0,0,.1), 1px 1px 2px rgba(0,0,0,.2);
    margin-right: .5em;
    color: rgba(42,100,15,0);
    transition: all .1s ease-in-out;
}

input[type="checkbox"] + label:after {
    content: "";
    display: block;
    clear: both;
}

input[type="checkbox"] + label:hover:before {
    text-shadow: 1px 1px rgba(0,0,0,.3);
}

input[type="checkbox"]:checked + label:before {
    color: #2a640f;
}

select {
    height: 2em;

    border: solid 1px #2a640f;
    border-radius: 3px;

    background-color: white;
    color: #222;
    font-size: .88em;

    margin-left: 0.2em;
    vertical-align: middle;

    position: relative;
    bottom: 1px;
}

form > input[type="submit"], #buttons {
    display: block;
    margin: 2% 5%;
}

#buttons {
    display: flex;
    align-content: center;
    margin: 2% 0;
}

#buttons button, #options button, input[type="submit"] {
    border: solid 1px transparent;
    border-radius: 5px;
    padding: .2em .7em;
    margin: 0 .5rem;
    box-shadow: 0 0 3px rgba(0,50,0,.8);
    font-size: 1.1em;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

#buttons input[type="submit"] {
    flex: 1;
    width: 96%;
}

input[type="submit"] {
    background: #3f9718;
    color: white;
}

input[type="submit"]:hover {
    border-color: #3f9718;
    color: #3f9718;
    background: white;
    box-shadow: 0 0 8px rgba(0,50,0,.8);
}

input[type="submit"]:disabled {
    background: white;
    border-color: #ccc;
    color: #3f9718;
    box-shadow: 0 0 7px rgba(0,50,0,.2);
    cursor: default;
}

input[type="submit"].invalid {
    border-color: red;
    font-weight: bold;
    color: red;
    cursor: default;
}

#optionsButton {
    display: none;

    background: white;
    color: #3f9718;
    border-color: #3f9718 !important;
    font-family: izcraft, sans-serif;
}

#closeButton {
    display: none;

    background: white;
    color: #3f9718;
    border-color: #3f9718 !important;
}

#buttons button:hover {
    box-shadow: 0 0 8px rgba(0,50,0,.8);
}


.error {
    min-height: 54vh;

    display: flex;
    flex-flow: column;

    align-items: center;
    justify-content: center;
    text-align: center;
}

.error h2 {
    margin-top: -10px;
}

.error p {
    margin-top: 21px;
}

fieldset {
    border: 0;
}

#main-dropdown {
    display: none;
    opacity: 0;
}

#main-dropdown.visible {
    visibility: visible;
    opacity: 1;
}

@media (max-height: 600px) {
    html {
        font-size: 1em;
    }
}

@media (max-width: 800px), (max-height: 600px) {
    #main-content {
        margin: 0;
        box-shadow: none;
        border: 0;
        width: 100%;
        height: 100%;
    }
    header {
        display: none;
    }
    h1 {
        padding: .5em 0 .4em 0;
        letter-spacing: 0;
        position: relative;
    }
    h1 a {
        z-index: 142;
        top: 6px; left: 6px;
    }

    h1 img {
        display: block;
        position: relative;
        font-size: medium;
        height: 48px;
        vertical-align: middle;
        padding: 0;
    }

    h1 a:before {
        content: "";
        position: absolute;
        width: 48px;
        height: 48px;
        top: -2px;
        left: -2px;

        background: white;
        transform: rotate(-25deg);
        box-shadow: 0 0 5px rgba(0,0,0,.4);
        border: solid 1px rgba(63,151,24,0);
    }

    h1 a:hover:before {
        width: 60px;
        height: 60px;
        top: -8px;
        left: -8px;

        transform: rotate(-25deg);
        border-color: rgba(63,151,24,1);
        transition: all .2s ease-in-out;
    }

    h2 {
        margin: .5em 1em -.3em 1em;
        font-size: 1.1em;
    }

    .warning {
        border-radius: 0;
        align-self: stretch;
        text-align: center;
        padding: .7em 24px .5em 48px;
        color: white;
        background: #cb1313;
        margin-top: -5px;
        margin-bottom: .5em;
    }

    .warning:before, .warning:after {
        display: none;
    }

    #file {
        margin: .25em .25em 0;
        padding-bottom: .25em;
    }

    #buttons {
        font-size: 28px;
    }

    #buttons button, input[type="submit"] {
        padding: .2em .3em;
        margin: .5rem;
    }
}

@media (max-width: 400px) {
    h1 {
        padding: .5em 24px .4em 64px;
        font-size: 5.5vw;
    }
}

@media (max-width: 350px) {
    h2, .warning {
        font-size: 5vw;
    }

    .linkblock a, .linkblock pre {
        font-size: 4vw;
    }
}

@media (max-width: 500px), (max-height: 450px) {
    body.js #optionsButton {
        display: block;
    }

    body.js #closeButton {
        display: block;
        margin: auto 1em 1em 1em;
    }

    input[type="submit"]:disabled {
        font-size: 4vw;
    }

    body.js #options:before {
        display: block;
        content: "Options";
        background: #3f9718;
        color: white;
        padding: .6em .5em .5em;
        font-size: 1.5em;
        text-align: center;
        letter-spacing: .05em;
        font-weight: bold;
    }

    body.js #options {
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 30px rgba(0,0,0,.8);
        position: fixed;
        height: 100%;
        top: 0;
        left: 0;
        background: white;
        z-index: 9001;
        max-width: 90%;
        visibility: hidden;
        opacity: 0;
        transform: translateX(-100%);
        transition: all .3s ease-in-out, visibility 0s linear;
    }

    body.js #options.visible {
        visibility: visible;
        transform: translateX(0);
        opacity: 1;
    }

    #main-dropdown {
        display: block;
        content: "";
        background: rgba(0,0,0,.7);
        position: fixed;
        z-index: 8888;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        visibility: hidden;
        transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
    }
}
